.song-item .image-container {
    position: relative;
}
.song-item .image-container img {
    position: relative;
    z-index: 0;
}
.song-item .image-container img.blured{
    filter: blur(4px);
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
}
.song-item .image-container:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.75);
    opacity: 0;
}
.song-item .image-container:after {
    content: "\E91B";
    position: absolute;
    z-index: 3;
    color: #DC0C0C;
    font-family: 'icomoon' !important;
    font-size: 1.7rem;
    line-height: 1;
    height: 17px;
    width: 17px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    cursor: pointer;
}
.song-item .image-container img.blured, .song-item .image-container:before, .song-item .image-container:after {
    opacity: 0;
    transition: 300ms;
}
.song-item .image-container:hover img.blured {
    transform: scale(1.5);
}
.song-item:hover .image-container img.blured, .song-item:hover .image-container:after, .song-item:hover .image-container:before {
    opacity: 1;
}